.auth-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-height: calc(100vh - 200px);
    &__text-center {
        color: #1877f2;
        font-weight: bolder;
        max-width: 40%;
    }
    &__text-center span {
        font-size: .8em;
        color: black;
    }
    &__form {
        min-width: 30%;
    }
}

@media screen and (max-width: 640px) {
    .auth-wrapper {
        display: block;
        margin: auto;
        &__text-center {
            color: #1877f2;
            font-weight: bolder;
            max-width: 80%;
        }
    }
  }