<div class="container">
	<div class="row">
		<div class="col-lg-5 col-sm-8">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="avatar" src="assets/img/pangolin-BIS.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        {{ this.currentProfile.login }}
                    </div>
                    <div [innerHtml]="this.currentProfile.description" class="desc"></div>
                    <div class="desc"><b>Age: </b>{{ this.currentProfile.age }} years</div>
                    <div class="desc"><b>I love: </b>{{ this.currentProfile.food }}</div>
                    <div class="desc"><b>Race: </b>{{ this.currentProfile.race }}</div>
                    <div class="desc"><b>Species: </b>{{ this.currentProfile.species }}</div>
                    <div class="desc">{{ this.currentProfile.friends }} friend(s)</div>
                </div>
                <div class="bottom">
                    <a routerLink="/my-account/update" class="update">Modifier</a>
                </div>
            </div>

        </div>

	</div>
</div>